<!-- About -->
{% if site.locale and site.locale != "" and site.locale != nil %}
<section class="page-section" id="{{ site.data.sitetext[site.locale].about.section | default: "about" }}">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">{{ site.data.sitetext[site.locale].about.title | default: "About KIAPI" }}</h2>  <br>  <br>
        <h3>{{ site.data.sitetext[site.locale].about.text | default: "설립 목적" }}</h3>  <br>
        <p class="text-faded">자동차부품업체의 권익 옹호와 ITS기반 자동차 부품 거점 밸리로 육성하기 위하여<br>인프라 구축과 이의 효율적인 관리 운영을 통해 첨단 고부가 자동차 부품산업 및 관련 사업의 국제경쟁력 강화와 발전에 기여</p><br>
        <p> <img src="assets/img/about/kiapi_main_building.PNG" width="750" height="510" class="center responsive-image"> </p>
      </div>
    </div>
  </div>

  <br><br>

  <div class="container">
      <div class="row">
          <div class="col-lg-8 offset-lg-2 text-center">
            <h3>{{ site.data.sitetext[site.locale].about.text | default: "현황" }}</h3>  <br>
            <h5>{{ site.data.sitetext[site.locale].about.text | default: "위치" }}</h5>
            <p class="text-faded">대구광역시 달성군 구지면 국가산단서로 201<br>201, Gukgasandanseo-ro, Guji-myeon, Dalseong-gun, Daegu, 43011, Republic of Korea</p>
            <h5>{{ site.data.sitetext[site.locale].about.text | default: "규모" }}</h5>
            <p class="text-faded">413,564m² 규모의 시험장 및 관련 장비 운영<br>Test track of 413,564m² and operation of related equipment</p><br>
              <p> <img src="assets/img/about/kiapi_location.png" width="750" height="947" class="center responsive-image"> </p>
          </div>
      </div>
  </div>

  <br><br>  <br><br>
  
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-left">
        <h2 class="section-heading text-uppercase">{{ site.data.sitetext.about.title | default: "About Data Base" }}</h2>  <br>  <br>
        <h3>{{ site.data.sitetext.about.text | default: "목표 및 내용" }}</h3>  <br>
        <h5>{{ site.data.sitetext[site.locale].about.text | default: "과제 목표" }}</h5>
        <p class="text-faded">3-Tier 연계 자율주행 SW·데이터에 대해 신뢰성을 검증할 수 있는 클라우드 기반 통합평가 모델·프로세스 개발 및 데이터 기반 검증 Tool 기술 개발 </p>
        <p class="text-faded"> - (자율주행 SW 검증) 데이터 분석 기반 3-Tier 연계 자율주행 SW 운행설계범위 준수 검증 기술 개발</p>
        <p class="text-faded"> - (클라우드/엣지 검증) 클라우드/엣지연계 자율주행 서비스 데이터 정합성 검증 기술개발</p>
        <p class="text-faded"> - (검증 프레임워크) 자율주행 SW 운영 프로세스의 클라우드 기반 통합검증용 Tool 개발</p>
        <h5>{{ site.data.sitetext[site.locale].about.text | default: "구축 목적" }}</h5>
        <p class="text-faded">본 연구의 결과물은 3Tier 연계형 자율주행 SW 및 데이터 통합검증용 평가를 위한 SW등이며, 데이터 기반의 안전성과 신뢰성을 검증하는데 사용할 수 있음</p>
        <p class="text-faded">본 연구를 통해 수집된 데이터는 3Tier 연계형 자율주행 서비스의 검증을 위해 가공된 실도로 주행 데이터를 제공하며, 이를 기반으로 데이터의 무결성·정합성 및 안전성·신뢰성을 검증할 수 있는 소프트웨어를 함께 제공 </p>
        <h5>{{ site.data.sitetext[site.locale].about.text | default: "데이터 포맷" }}</h5>
        <p class="text-faded">ROS기반 C/C++/Pythoin, (DATA) ROS bag, (Text) CSV, TXT 등 </p>
       ###<img src="assets/img/about/Data.jpg" width="80%" height="80%" class="center responsive-image"> </p>

      </div>
    </div>
  </div>
</section>



{% else %}
<section class="page-section" id="{{ site.data.sitetext.about.section | default: "about" }}">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">{{ site.data.sitetext.about.title | default: "About KIAPI" }}</h2>  <br>  <br>
        <h3>{{ site.data.sitetext.about.text | default: "Purpose of Establishment" }}</h3>  <br>
        <p class="text-faded">KIAPI will support evaluation of parts of autonomous vehicles and ADAS for local auto parts suppliers with limited development and continuous growth due to changes in internal and external condition, and to become a necessary facility in the local auto parts industry.
Contributing to the strengthening and development of international advanced competitiveness of high premium auto parts industry and related industries through infrastructure construction and efficient management and operation to foster the rights of auto parts makers and to foster ITS-based automotive parts base valley.</p>
        <p> <img src="assets/img/about/kiapi_main_building.PNG" width="960" height="auto" class="center"> </p>
      </div>
    </div>
  </div>

  <br><br>

  <div class="container">
      <div class="row">
          <div class="col-lg-8 offset-lg-2 text-center">
          <h3>{{ site.data.sitetext[site.locale].about.text | default: "Location and Scale" }}</h3>  <br>
              <p class="text-faded">201, Gukgasandanseo-ro, Guji-myeon, Dalseong-gun, Daegu, 43011, Republic of Korea.<br>Test track of 394,565m² and operation of related equipment.</p>
              <p> <img src="assets/img/about/kiapi_location.png" width="960" height="auto" class="center"> </p>
         </div>
      </div>
  </div>

  <br><br>  <br><br>
  
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">{{ site.data.sitetext.about.title | default: "About Data Base" }}</h2>  <br>  <br>
        <h3>{{ site.data.sitetext.about.text | default: "Purpose of Construction" }}</h3>  <br>
        <p class="text-faded">Descript in this location</p>
      </div>
    </div>
  </div>
</section>

{% endif %}
<!-- End About -->
